/* Ats.css */

.ats-container {
    margin-left: 750px;
}

.file-upload {
     margin-top:100px;
    margin-bottom: 10px;
}

.file-upload input[type="file"] {
    display: none;
    
}

.file-upload label {
    font-size:30px;
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.file-upload label:hover {
    background-color: #121416;
}

p
{ 
    display: inline-block; 
    font-size: 40px; 
    color:rgb(20, 5, 5)
}