.ats-container h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:35px;
    color:rgb(54, 50, 50)
}
.ats-container {
    margin-left: 450px;
}

.ats-container button{
    color : white;
    font-size:23px;
    background-color:rgb(52, 50, 49)
}

.ats-container p
{
    border-radius:20%;
    padding:10px;
    margin-left:320px;
    font-size:35px;
    background-color: rgb(42, 38, 38);
    color:white;
    display:inline-block
}