/* PlacementPrep.css */
.c1 {
    padding-left: 300px;
    padding-top: 60px; /* Adjust this value based on the height of your navigation bar */
  }
  
  .c1 h2 {
    text-align: center;
    font-size: 250%;
  }
  
  .c1 ul {
    list-style-type: none;
    padding: 0;
  }
  
  
  
  .c1 ul li h3 {
    font-size: 150%;

    margin-bottom: 10px;
  }
  
  .c1 ul li ul {
    list-style-type: none;
    padding: 0;
  }
  
  
  .c1 ul li ul li a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(87, 106, 106);
    color:white; /* Adjust link color as needed */
  }
  
  .c1 ul li ul li a:hover {
color:rgb(0, 0, 0);
    background-color: rgb(47, 194, 194);
    transition:0.7s;
  }
  