
.QuestionList {
    text-align: center;
    width: 103%;
     

  }
  
  .QuestionList h2 {
    font-size: 20px;
    color: #080808; 
    margin-bottom: 20px;
  }
  
  .QuestionList ul {
    padding: 0;
 
  }

  
  .QuestionList li {
    list-style-type: none;
    margin-bottom: 20px;
   }
  