/* Question.css */

.Question {
  background-color: #fff;
  border: 1px solid #e8e0e0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:100%;
  border: 2px solid rgb(121, 108, 108);
  background-color: #cccdcf;

}

.Question h2 {
  margin-bottom: 10px;
  color: #14141a;
}

.Question form {
  margin-top: 10px;
}

.Question input[type="text"] {
  width: calc(100% - 110px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.Question button {
  margin-top:5px;
   background-color: #2a3037; /* Facebook blue */
  color: #ffffff;
  padding:3px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left:20px;
  font-size: 17px;
}

.Question button:hover {
  background-color: #555b6286; /* Darker shade of Facebook blue */
}

.Question ul {
  padding-left: 20px;
}

.Question ul li {
  list-style-type: disc;
}
