/* QuestionForm.css */

.QuestionForm {
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .QuestionForm input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .QuestionForm button {
    padding: 10px 20px;
    background-color: #1877f2; /* Facebook blue */
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .QuestionForm button:hover {
    background-color: #1366d6; /* Darker shade of Facebook blue */
  }
  